data
output
__pycache__
api_keys
.vscode
*~
*.cpg
*.csv
*.dbf
*.html
*.nc4
*.prj
*.Rhistory
*.Rproj
.Rproj.user
*.shp
*.shx
*.txt
!cybench/runs/slurm/models.txt
!cybench/runs/slurm/benchmark_jobs.example.txt
*.xml
*.zip
*.pkl
*.lock
Scratch.R

.idea